@use '../../styles.scss' as s;

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 40px;
    border-bottom: 0.5px solid s.$lightgrey;

    @media screen and (max-width: 1110px) {
        flex-direction: column;
    }


    .logo {
        color: s.$white;
        font-family: 'Antonio', sans-serif;
        font-size: 28px;
        font-weight: 400;
        letter-spacing: -1.05px;
        text-transform: uppercase;

        @media screen and (max-width: 1110px) {
            margin: 32px ;
        }
    }

    .links {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 32px;

        @media screen and (max-width: 1110px) {
            margin: 26px ;
        }

        .link {
            font-size: 13px;
            color: s.$white;
            opacity: 0.7;
            letter-spacing: 1px;

            &:hover {
                color: s.$white;
                opacity: 1;
            }
        }

    
    }
}

