@use '../../styles.scss' as s;

.buttons {
    margin-top: 40px;

    @media screen and (max-width: 1110px) {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        width: 45%;
        justify-content: center;
        align-items: flex-end;
    }

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid s.$darkgrey;
        padding: 0 24px;
    }

    button {
        width: 100%;
        border: 1px solid s.$darkgrey;
        background-color: s.$primary;
        color: s.$white;
        padding: 16px 40px;
        text-align: left;
        letter-spacing: 2.5px;
        margin-bottom: 16px;

        @media screen and (max-width: 1110px) {
            width: 280px;
        }

        @media screen and (max-width: 768px) {
            width: auto;
            padding: 20px 0;
            border: none;
            margin: 0;
            color: s.$lightgrey;
        }

        &:hover {
            background-color: s.$darkgrey;

            @media screen and (max-width: 768px) {
                    background-color: transparent;
            }
        }

       
        
        span {
            margin-right: 28px;
          
        }

    }
}

